.top-page {
  .header {
    margin-bottom: 20px;
  }
}

.class-visiting {

  .visiting {

    &-wrap {

      &--right {

      }
    }

    &--bottom {
      .visiting-wrap {
        align-items: center;

      }

      h3 {
        text-align: center;
      }
    }
  }
}

.visiting-detail {
  &-title {
    h3 {
      margin: 20px auto;
    }
  }

  &-img {
    margin-bottom: 15px;
  }

  &-para {
    h4 {
      margin-top: 0;
    }
  }
}

