.company-visiting {

  .visiting--bottom {
    width: 100%;
    bottom: 10%;

    .visiting-wrap {
      a {
        display: flex;
        justify-content: flex-end;

      }

      &--left {
        margin-left: 5%;
        align-items: flex-start;

        a {
          justify-content: flex-start;

        }
      }

      &--right {
        margin-right: 5%;
        align-items: flex-end;

      }
    }

    h3 {
      text-align: left;
    }
  }
}

// company visiting detail
.visiting-detail {
  &-para {
    p {
      line-height: 1.5;
    }
  }
}