.chart {
  margin-bottom: 30px;

  h3.title {
    color: #000;
    @include font-size(40px);
    margin-top: 0;
    margin-bottom: 15px;
  }

  &-pie {
    @include flex();
    align-items: center;
    justify-content: flex-start;

    .image {
      width: 33%;

      img {
        width: 100%;
      }
    }

    .text {
      display: block;

      ul {
        font-size: 1.8rem;

        li {
          margin-bottom: 15px;
          position: relative;
          @include flex();
          align-items: center;

          h4 {
            margin: 0;
            @include font-size(24px);
          }

          &:first-child {
            .color {
              background-color: #06517B;
            }
          }

          &:nth-child(2) {
            .color {
              background-color: #518D1D;
            }
          }

          &:nth-child(3) {
            .color {
              background-color: #4A4A0B;
            }
          }

          &:nth-child(4) {
            .color {
              background-color: #FA9927;
            }
          }

          &:last-child {
            .color {
              background-color: #B20D0A;
            }
          }

          .color {
            width: 34px;
            height: 34px;
            margin-right: 20px;
          }
        }
      }
    }
  }
}
