@import "font-awesome";

@font-face {
  font-family: 'pt_sansbold';
  src: url('../fonts/ptsans-bold-webfont.woff2') format('woff2'),
  url('../fonts/ptsans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'pt_sansbold_italic';
  src: url('../fonts/ptsans-bolditalic-webfont.woff2') format('woff2'),
  url('../fonts/ptsans-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pt_sansitalic';
  src: url('../fonts/ptsans-italic-webfont.woff2') format('woff2'),
  url('../fonts/ptsans-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'pt_sansregular';
  src: url('../fonts/ptsans-regular-webfont.woff2') format('woff2'),
  url('../fonts/ptsans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'NotoSans JP';
  src: url('../fonts/notosansjp-black-webfont.woff2') format('woff2'),
  url('../fonts/notosansjp-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'noto_sans_jpbold';
  src: url('../fonts/notosansjp-bold-webfont.woff2') format('woff2'),
  url('../fonts/notosansjp-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'noto_sans_jplight';
  src: url('../fonts/notosansjp-light-webfont.woff2') format('woff2'),
  url('../fonts/notosansjp-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'noto_sans_jpmedium';
  src: url('../fonts/notosansjp-medium-webfont.woff2') format('woff2'),
  url('../fonts/notosansjp-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'noto_sans_jp_regularregular';
  src: url('../fonts/notosansjp-regular-webfont.woff2') format('woff2'),
  url('../fonts/notosansjp-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'noto_sans_jpthin';
  src: url('../fonts/notosansjp-thin-webfont.woff2') format('woff2'),
  url('../fonts/notosansjp-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


html,
body {
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;

  &:lang(ja) {
    font-family: $font-ptSan;
    font-family: $font-notoSan;
  }

  @media #{$info-tablet-horizontal} {
    font-size: 15px;
  }

  @media #{$info-tablet-vertical} {
    font-size: 14px;
  }

  @media #{$info-phone} {
    font-size: 12px;
  }
}