.newspaper {

  &-img {
    img {
      width: 100%;
    }
  }
}


/* ---css page newspaper application--- */
.newspaper-app {
  .header {
    margin-bottom: 10px;
  }

  .layout {
    margin: 0 auto 15px;

    &-header {
      &-brand-wrap {
        height: 250px;
      }
    }
  }

  .btn {
    .btn-blue {
      background-color: #06517B;
    }

    a {
      padding: 13px;
      margin-bottom: 30px;
    }
  }

  p {
    font-weight: 500;
    color: #707070;
  }

  .page-footer {
    .qrcode {
      div.qrcode-img {
        width: 18%;
      }
    }
  }
}
