.questionnaire {
  h3.title {
    @include font-size(44px);
    color: #000;
  }

  p {
    font-weight: 300;
  }
}

.survey {
  position: relative;
  margin-bottom: 80px;

  p {
    @include font-size(36px);
    color: #000;
  }

  .seemore {
    position: absolute;
    right: 0;
    left: 71%;
    top: 0;
    @include font-size(36px);
    color: #06517B;
    line-height: 1.4;

    i {
      font-size: 18px;
      position: absolute;
      top: 50%;
      right: 0;
      @include transform(translateY(-50%));
    }
  }

  .qrcode {
    p {
      font-family: $font-Noto-Serif;
      font-weight: 500;
      color: #000;
    }
  }
}


// Questionnaire detail
.questionnaire-detail {
  p {
    font-family: $font-Noto-Serif;
  }

  .content {
    p {
      @include font-size(38px);
      line-height: 1.2;
      font-family: $font-Noto-Serif;
      //font-weight: 300;
    }
  }
}

// Footer
